[data-theme="dark"] {
	// Font Colors
	--text-primary: hsl(228, 34%, 66%);
	--text-secondary: hsl(0, 0%, 100%);

	// Background Colors
	--bg-body: hsl(230, 17%, 14%);
	--bg-card: hsl(228, 28%, 20%);
	--bg-divider: hsl(228, 25%, 27%);
	--bg-circle: hsl(228, 28%, 20%, 1);
}