@use "../base/abstracts" as *;

body {
	background-color: var(--bg-body);
	color: var(--text-primary);
	font-family: var(--ff-primary);
	font-size: var(--14px);
	padding-block: rem(36) rem(46);
}

.container {
	inline-size: 87%;
	margin-inline: auto;
}

.headings {
	margin-block-end: rem(24);
}

.main-heading {
	font-size: var(--24px);
	color: var(--text-secondary);
}

.sub-heading {
	font-weight: var(--fw-bold);
}

.divider {
	width: 100%;
	height: 1px;
	background-color: var(--bg-divider);
}

main {
	margin-block-start: rem(40);
}

.followers {
	display: grid;
	row-gap: rem(24);
}

.overview {
	margin-block-start: rem(46);

	&__heading {
		font-size: var(--24px);
		margin-block-end: rem(26);
	}

	&__grid {
		display: grid;
		row-gap: rem(16);
	}
}

footer {
	margin-block-start: rem(40);
	text-align: center;
}