@use "../base/abstracts" as *;

@media (any-hover: hover) {
	.followers-card:hover, .overview-card:hover {
		cursor: pointer;
		background-color: var(--bg-card-hover);
	}

	.toggle-slider:hover {
		cursor: pointer;
	}
}

@media (min-width: rem(768)) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.headings {
		margin-bottom: 0;
	}

	.theme-toggle {
		margin-top: 0;
	}

	.main-heading {
		font-size: var(--28px);
	}

	.divider {
		display: none;
	}

	.mq-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: rem(1280)) {
	.mq-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}