@use "../base/abstracts"  as *;

.theme-toggle {
	margin-block-start: rem(16);
	font-weight: var(--fw-bold);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(12);
}

#checkbox {
	display: none;
}

.toggle-slider {
	display: block;
	inline-size: rem(48);
	block-size: rem(24);
	background-color: var(--bg-toggle);
	border-radius: rem(12);
	position: relative;

	&::after {
		position: absolute;
		display: block;
		margin: 0;
		content: "";
		inline-size: rem(18);
		block-size: rem(18);
		background-color: var(--bg-circle);
		border-radius: 50%;
		right: 6px;
		top: 50%;
		transform: translateY(-50%);
		transition: .2s;
	}
}

#checkbox:checked + .toggle-slider {
	background: var(--bg-toggle-dark);
}

#checkbox:checked + .toggle-slider::after {
	transform: translate(-20px, -50%);
	background-color: var(--bg-circle);
}