// Convert pixel values to rem
@function rem($value) {
	$remValue: calc(($value / 16) * 1rem);
	@return $remValue;
}

// Convert pixel values to em
@function em($value, $base-font-size: 16) {
	$emValue: calc(($value / $base-font-size) * 1em);
	@return $emValue;
}

@mixin border-top-color($color) {
	border-top: 4px solid $color;
}